// css reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: IranSansWeb;
  list-style: none;
}
// variable
$base-color: rgb(161, 66, 36);
//body
body {
  background-color: #222;
}
// header
header {
  background: $base-color;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    margin-left: 100px;
    color: #fff;
    letter-spacing: 1px;
  }
  .cart.bump {
    animation: bump 300ms ease-out;
  }

  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  .cart {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 20px;
    margin-right: 100px;
    width: 200px;
    height: 60%;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .key {
      font-size: 14px;
      i {
        margin-right: 8px;
      }
    }
    .value {
      background: $base-color;
      border-radius: 20px;
      width: 30px;
      text-align: center;
      font-size: 14px;
    }
  }
}
// slide container
.slide-container {
  position: relative;
  img {
    width: 100%;
    height: 400px;
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 0,
      100% 76%,
      8% 100%,
      0 100%,
      0% 70%,
      0 0
    );
  }
  .main-section {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background: #333;
    color: #eee;
    border-radius: 10px;
    box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.6);
    padding: 14px 4px 14px 4px;
    .title {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 15px;
    }
    .context {
      font-size: 15px;
      text-align: center;
      p {
        margin-bottom: 10px;
      }
    }
  }
}
// food list container
.food-container {
  // animation: fadeIn 2s;
  background: rgb(255, 255, 255);
  width: 70%;
  margin: 100px auto;
  border-radius: 20px;
  padding: 20px;
  // animation for first show food container
  @keyframes fadeIn {
    0% {
      opacity: 0;
      margin: 150px auto;
    }
    100% {
      opacity: 1;
      margin: 100px auto;
    }
  }
}
.food-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
}
.left-side {
  .food-name {
    font-weight: bold;
  }
  .description {
    font-size: 14px;
    font-style: italic;
  }
  .price {
    color: $base-color;
    font-weight: bold;
    font-size: 15px;
  }
}
.right-side {
  .amount {
    label {
      font-weight: bold;
      font-size: 15px;
      margin-right: 10px;
    }
    input {
      width: 50px;
      font-size: 15px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #ddd;
      padding: 5px;
    }
  }
  button {
    cursor: pointer;
    margin-top: 10px;
    padding: 4px;
    border: none;
    background: $base-color;
    color: #eee;
    border-radius: 20px;
    width: 100px;
    font-weight: bold;
  }
}
// wrapper dark background

// modal order
.modal-order {
  position: fixed;
  z-index: 30;
  background: rgb(255, 255, 255);
  width: 50%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  border-radius: 20px;
  padding: 10px;
  animation: slide-down 300ms ease-out forwards;
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translate(-50%, -40%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -30%);
    }
  }
  .order-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid $base-color;
    .left-side {
      .describe {
        display: flex;
        .count {
          margin-left: 40px;
          border: 1px solid #ddd;
          padding: 3px 6px;
          border-radius: 5px;
          font-size: 11px;
          font-weight: bold;
        }
      }
    }
    .right-side {
      display: flex;
      flex-direction: row;
      button {
        width: 45px;
        cursor: pointer;
        height: 28px;
        border-radius: 8px;
        background: transparent;
        color: $base-color;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $base-color;
        transition: 0.2s ease-in;
        &:hover {
          color: #efefef;
          background: $base-color;
        }
      }
      button:nth-child(1) {
        margin-right: 6px;
      }
    }
  }
  footer {
    margin-top: 10px;
    font-weight: bold;
    .amount {
      display: flex;
      justify-content: space-between;
    }
    .navigate {
      display: flex;
      justify-content: right;
      margin-top: 10px;
      button {
        cursor: pointer;
        margin-top: 10px;
        padding: 4px;
        border: none;
        margin-left: 10px;
        background: $base-color;
        color: #eee;
        border-radius: 20px;
        width: 100px;
      }
      button:nth-child(1) {
        background: transparent;
        color: $base-color;
        border: 1px solid $base-color;
      }
    }
  }
}
// backdrop
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}
