@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

#loading {
  position: absolute;
  top:60%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 10;
  /* display: none; */
}
